{% extends "layout.html"%}
{%block content%}
  <div class="home">
    <h1>Everything I have learned on Python so Far:</h1>
    <p>Data types</p>
    <p>Operations with Data types</p>
    <p>Functions and Conditionals</p>
    <p>User Input</p>
    <p>Loops</p>
    <p>If-Else Conditionals</p>
    <p>FIle Processing</p>
    <p>App1: Build a Dictionary</p>
    <p>Python with SQL</p>
    <p>Data Analysis with Pandas</p>
    <p>Numpy</p>
    <p>App2: Webmaps with Folium</p>
    <p>App3: Build a website with Flask </p>
    <p></p>
    <p></p>
  </div>
{%endblock%}

